<div class="wrapper">
  <div class="text-center">
    <div class="container">
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
              <%= link_to cocktail_path(cocktail), class: "card-link" do %>
                <div class="card" style="background-image: url('https://unsplash.it/200/300/?random');">
                <div class="card-description"><h2><%= cocktail.name  %></h2></div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="new-cocktail"><%= link_to "Ajoutez un cocktail", new_cocktail_path, class: "btn btn-primary"%></div>
  </div>
</div>
