// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  background-color: #FFFFFF;
}
.card {
  height: 200px;
  background-size: cover !important;
  position: relative;
  margin-top: 25px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-weight: 10px;
  font-size: 15px;
  color: white;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
.new-cocktail {
  margin-top: 50px;
}
