// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  background-color: #FFFFFF;
}
img {
  border-radius: 3px;
}

h2 {
  font-weight: 10px;
  font-size: 15px;
}
