// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  background-color: #FFFFFF;
}
img {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

h2 {
  font-weight: 10px;
  font-size: 15px;
}
.card {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
  color: white;
  position: relative;
}

.media {
  display: flex;
}
.media-body {
  flex: 1 1 auto;
  padding: 20px;
}
.media-body img {
  width: 100%;
}
.media-aside {
  flex: 0 0 400px;
  padding: 30px;
  align-self: stretch;
  background: #F8F7F7;
  border-left: 1px solid #f0efef;
}
.media-section {
  margin: 40px auto;
}
.media-section:first-child {
  margin-top: 0;
}
.media-section:last-child {
  margin-bottom: 0;
}
